body {
    background-color: black !important;
}

audio {
    display: none;
}

#player-select-page {
    background-color: black;
}

#logo-page {
    background-color: #4a65a0;
}

#logo {
    position: absolute;
    left: 110px;
}

#countdown-button {
    padding: 40px;
    border-radius: 120px;
    background-color: transparent;
    opacity: 0;
    transition:.5s;
}

#countdown-button:hover {
    cursor: pointer;
    background-color: red;
}

.select-company-button {
    padding: 40px;
    border-radius: 120px;
    background-color: transparent;
}

.select-company-button:hover {
    cursor: pointer;
}

#starfield {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 75%;
}

#shooting-star-demo {
    position: absolute;
    top: 0px;
    left: 0px;;
    width: 100vw;
    height: 100vh;
}

.info-container {
    margin-top: 30px;
}

.select-company-button {
    background-color: none;
}

#rocket-select {
    position: absolute;
    right: 20px;
    bottom: 0px;
    height: 75%;
    width: 60%;
}

#headphone-reccomended-icon {
    position: absolute;
    right: 50px;
    top: 30px;
    color: white;
    text-align: center;
}

#falcon-heavy-logo-page {
    height: 600px;
    bottom: -35px;
    right: 100px;
    position: absolute;
}

#new-shepard-logo-page {
    height: 100%;
    bottom: 0px;
    right: 300px;
    position: absolute;
}

#logo-page-header {
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 120px;
    background-color: transparent;
}

#exposition-page {
    background-color: black;
}

#player-select-page .background-image {
    background: url('../img/select-page-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

#rocket-select {
    position: absolute;
    right: 20px;
    bottom: 0px;
    height: 75%
}

.full-screen {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
}

.w {
    color: white;
}